.container-fluid {
  padding-top: 1px;
}

.table-view {
  margin-top: 14px;
}

.table-view table.table {
  background-color: #fff;
}

.table-view .active {
  height: 60px;
  background-color: #ffc107;
  font-weight: 500;
}
